@import "./index.style.css";

main {
    display: grid;
    grid-template-columns: 0.85fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'details preview';
    gap: 32px;

    height: 100%;
    width: 100%;
}

main > * {
    border: 1px solid black;
}

.section-details {
    grid-area: details;
}

.section-preview {
    grid-area: preview;
}